body{
    display: flex;
    justify-content: center;
    margin: 0;
}
#container{
    
    background-color: gray;
    width: 1000px;
    height: 850px;
    border: 1px solid red;
}
header{
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: beige;
    padding: 1px;
}
nav{
    width: 100%;
    height: 50px;
    background-color: rgb(134, 29, 233);
    text-align: center;
}
section{
    float: left;
    width: 65%;
    height: 300px;
    background-color: brown;

}
article{
    float: left;
    width: 65%;
    height: 300px;
    background-color: aquamarine;
}
aside{
    float: right;
    margin-top: -300px;
    width: 35%;
    height: 600px;
    background-color: cadetblue;
}
footer{
    clear: both;
    width: 100%;
    height: 100px;
    background-color: coral;
}
.btn{
    width: 300px;
    text-decoration: none;
    background-color: gray;
    height: 50px;
    text-align: center;
    color: black;
    font-size: larger;
}
.btn:hover{
    background-color: rgb(65, 63, 63);
    color: white;
}
.buttons{
    height: 50px;

}