html,body{
    background-color: black;
    color: blue;
}
h1{
    margin:auto;
    border: 10px solid red;
    padding: 40px;
    background-color: rgb(0, 0, 0);
    font-family: Arial;
    text-align: center;
    color: blueviolet;
    font-size: medium;
}
p{
    width: 500px;
    margin:200px;
    border:15px solid red;
    padding: 0%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}